# Node.js
node_modules/
npm-debug.log
npm-debug.log.*
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

# Dist / Build
/dist
/build

# Logs
logs
*.log
*.log.*

# Dependency directories
bower_components/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable file(s)
.env.*
!*.example
