html{
   
    height: 100%;
    box-sizing: border-box;
}
body{
    min-height: 100%; 
    margin: 0;
    position: relative;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
}


.homePageRow{
    margin-bottom: 50px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}